body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bot-card{
  border: 1px solid grey;
  box-shadow: 0 0 4px black;
  width: 250px;
  margin: 20px;
  background-color: orange;
}

.bot-img img{
  width: 200px;
  
}

.cards-display{
display: inline-grid;
width: 17rem;
text-align: center;
align-items: center;
margin: auto;
align-content: center;
}

.bot-container{
 max-width: 50%;
}

.army-container{
  position: relative;
  margin-left: 50%;
}